@font-face{
    font-family: "Roboto Medio";
    src: url(../fonts/roboto/Roboto-Medium.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Medio";
    background-color: #eef4fc;
}

/* Barra de navegação */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #07466b;
    transition: 0.4s;
}

a:hover{
    color: #F1CA4B;
}

#navbar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #000;
}

#navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width:1200px;
    margin: 0 auto;
}

#navbar-inner h2{
    color: #24E571;
}

#navbar-inner span{
    color: #F1CA4B;
}

#nav-links{
    display: flex;
    gap: 1rem;
}

/* Container */

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

#posts-container{
    flex: 3 1 0;
}

.post p{
    color: #146ea1;
}

.post{
    margin-bottom: 2.5rem;
}

.post img{
    width: 100%;
    margin-bottom: 1rem;
}

.title,
.description,
.author{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
}

.author{
    color: #333;
}

/* Side Bar */

#sidebar{
    flex: 1 1 0;
}

#search-bar,
#categories,
#tags{
    padding: 1.5rem;
    border: 1px solid #000;
    margin-bottom: 1rem;
}

#search-bar h4,
#categories h4,
#tags h4{
    color: #07466b;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: 0.5rem 1rem;
    border: 0.05px solid #07466b;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #24E571;
    color:  #07466b;
    border: none;
    transition: 0.5s;
}

#search-bar input[type="submit"]:hover{
    color: #F1CA4B;
}

#categories li{
    margin-bottom: 1rem;
}

#tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color:  #24E571;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

/* FOOTER */

#footer{
    border-top: 2px solid #000;
    padding: 3rem;
    text-align: center;
}

#footer h2,
#footer p{
    color: #146ea1;
    margin-bottom: 1rem;
}


/* Responsividade  */


@media(max-width: 450px){
    .container{
        flex-wrap: wrap;
    }
}